* text=auto !eol
/Makefile -text
/apertium-hye-eng.eng.dix -text
/apertium-hye-eng.hye-eng.dix -text
/apertium-hye-eng.hye-eng.lrx -text
/apertium-hye-eng.hye-eng.rlx -text
/apertium-hye-eng.hye-eng.t1x -text
/apertium-hye-eng.hye-eng.t2x -text
/apertium-hye-eng.hye-eng.t3x -text
/apertium-hye-eng.hye.dix -text
dev/actions.txt -text
dev/nouns.txt -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.txt -text
dev/testvoc/testvoc.sh -text
/modes.xml -text
