* text=auto !eol
/Makefile -text
/apertium-hye-eng.eng.dix -text
/apertium-hye-eng.hye-eng.dix -text
/apertium-hye-eng.hye-eng.lrx -text
/apertium-hye-eng.hye-eng.rlx -text
/apertium-hye-eng.hye-eng.t1x -text
/apertium-hye-eng.hye-eng.t2x -text
/apertium-hye-eng.hye-eng.t3x -text
/apertium-hye-eng.hye.dix -text
dev/actions.txt -text
dev/nouns-and-multiwords.txt -text
dev/nouns.txt -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.txt -text
dev/testvoc/testvoc.sh -text
dev/visualisations/verbs.dot -text
dev/visualisations/verbs.pdf -text svneol=unset#unset
/eng-hye.prob -text svneol=unset#unset
/modes.xml -text
/pending-tests.sh -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
